*{
    text-align: center;
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;}

.headers{
    text-decoration: none;
    color: white;
    flex: 1;
    text-align: center;
    padding: 10px;
    transition: background-color 1.5s;}
    
.headers:hover{background-color: #2b2929e8;}

.s-links{
    width:fit-content;
    border-radius: 2rem;
    padding-inline:0.6%;
}
.links:hover{
    cursor: pointer;
    background-color: #23c7d2a4;
    font-style: italic;
}

.profile_image{
    border-radius: 80%;
    transition: all 2s;
    cursor: pointer;
}
.profile_image:hover{
    border-radius: none;
    background-color: rgba(202, 187, 187, 0.177);}

.Set{
    text-align:left;
    margin-left: 70px;}

#Details{background-color: rgba(240, 255, 255, 0.495);}

summary{
    max-width: fit-content;
}
summary:focus{
    outline: none;
}

#Skills{text-align: left;}

#Contacts{
    text-align: left;
    margin: 0;
    overflow: hidden;
    align-items: center;
    width: auto;
}
#Contacts>a{
    font-style: normal!important;
}

header{
    background-color: #333333c9;
    color: white;
    padding: 15px 20px;}

header div{
    display: flex;
    justify-content: space-around;}

body{
    background : linear-gradient( to bottom, rgb(0, 255, 213),rgba(22, 103, 209, 0.8));
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;}

li, ul{
    text-align: left;
    margin-left: 100px;}

div a{
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 5px 70px;
    text-decoration: none;}

img:hover{
    height: 450px;
    width: 500px;}

/* img { */
        /* transition: transform 0.3s; */
         /* Add smooth transition */
      /* } */

/* img:hover { */
        /* transform: scale(1.5);  */
        /* Adjust the scaling factor as needed */
      /* } */

.project-links{
    display: inline-block;
    padding: 0;
}